html {
  cursor: pointer;
}
.fade-image {
  display: inline-block;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 50px;
}

h1 {
  font-family: 'Source Sans Pro',cursive;
  font-size: 30px;
  color: maroon;
}
.main-search-form {
  position: relative;
  background-color: lightgrey;
  height: 150px;
  width: 500px;
  margin: auto;
}
.dropdown-container {
  position: absolute;
  top: 40%;
  left: 5%;
}
.dropdown {
  display: inline-block;
  width: 200px;
  height: 30px;
  border-radius: none;
}
.dropdown.second {
  margin-left: 10px;
}
.main-search{
  position: absolute;
  left: 40%;
  margin-top: 15px;
  color: white;
  background-color: maroon;
  height: 30px;
  width: 80px;
  border: none;
  font-size: 13px;
}
.static-head {
  color: red;
}
.main-container {
  margin: auto;
  width: 600px;
  text-align: center;
}
